<%= partial(:'partials/background') %>
<div class="row">  
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading center">
       <div class="text-center"><h3>Choose a gametype</h3></div>
      </div>
      <div class="panel-body" style="height:400px">
        <form class="form-horizontal col-md-10">
           <div class="btn-group">
              <a href="/game/player" class="btn btn-default" role="button">vs Player</a>
           </div>
           <div class="btn-group">
              <a href="/game/bot" class="btn btn-default" role="button">vs. BOT</a>
           </div>
        </form>
      </div>
    </div>
  </div>
</div>