<%= partial(:'partials/background') %>
<div class="row">  
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading center">
       <div class="text-center">You won!</div>
      </div>
    </div>
    <img src="/img/pbj.gif" class="img-rounded">
  </div>
</div>>