<%= partial(:'partials/background') %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
         Play the best game ever!
      </div>
      <div class="panel-body">
        <p>
                "Fantastic" - RockPaperShotgun
        </p>
        <p>
                                                       "I can't stop playing" - Gamasutra
        </p>
        <p>
          "Just... mooooo" - The Escapist
        <p>
                                  "The ultimate game" - somebody
        </p>
      </div>
    </div>
  </div>
</div>
  