<%= partial(:'partials/background') %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <div class="text-center"><h3>Ranking</h3></div>
      </div>
      <div class="panel-body" style="height:400px">
        <table class="table table-striped"> 
          <thead>
            <tr>
              <th colspan="2" class="field-label active">
                <div class="text-center">Rank</div>
              </th>
              <th colspan="4" class="field-label active">
                <div class="text-center">User</div>
              </th>
              <th colspan="2" class="field-label active">
                <div class="text-center">Victories</div>
              </th>
              <th colspan="2" class="field-label active">
                <div class="text-center">Defeats</div>
              </th>
              <th colspan="2" class="field-label active">
                <div class="text-center">Total</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2">
                <div class="text-center">number</div>
              </td>
              <td colspan="4">
                <div class="text-center">number</div>
              </td>
              <td colspan="2">
                <div class="text-center">number</div>
              </td>
              <td colspan="2">
                <div class="text-center">number</div>
              </td>
              <td colspan="2">
                <div class="text-center">number</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

